@media (max-width: 700px) {
    .photo-grid{
        /* justify-content: center; */
        max-width: 1000px;
        margin: 0 auto;
        display: flexbox;
        /* flex-direction: row; */
        flex-wrap: wrap;
    }
}